<div ngClass="flex flex-col gap-2">
  <div>
    <form
      [formGroup]="twForm"
      (submit)="onSubmitTW()"
      ngClass="flex flex-col gap-4 w-full"
    >
      <div ngClass="flex flex-col gap-2 w-full">
        <label>Total Coins</label>
        <input
          ngClass="input-text"
          type="number"
          id="totalCoins"
          formControlName="totalCoins"
        />
      </div>
      <div ngClass="flex flex-col gap-2 w-full">
        <label>Total Amount</label>
        <input
          ngClass="input-text"
          type="number"
          id="totalAmount"
          formControlName="totalAmount"
        />
      </div>
      <div ngClass="flex flex-col gap-2 w-full">
        <label>Coin Fractions</label>
        <input
          ngClass="input-text"
          type="text"
          id="coinFractions"
          formControlName="coinFractions"
        />
      </div>
      <button class="btn-primary" type="submit">Get Calculations</button>
    </form>
  </div>
  <div>
    <span>Result :</span>
    <div>Total Coins : {{ twValue.totalCoins }}</div>
    <div>Expected Result : {{ twValue.totalAmount }}</div>
    <div>Coin Fractions : {{ twValue.coinFractions }}</div>

    <div>Output : {{ twValue.result }}</div>
  </div>
</div>
