<!-- list.component.html -->

<div ngClass="flex flex-auto">
  <div ngClass="flex flex-auto flex-col gap-6">
    <div ngClass="flex flex-row justify-between">
      <div ngClass="flex flex-1"></div>
      <div ngClass="flex flex-col flex-1 gap-1">
        <div ngClass="text-2xl font-bold text-center">Employees Attendance</div>
        <div ngClass="text-md font-semibold text-center text-gray-400">
          {{ currentDate }}
        </div>
      </div>
      <div ngClass="flex flex-row flex-1 gap-2 justify-end items-center">
        <button
          type="button"
          ngClass="shadow-md rounded-lg hover:bg-gray-200 items-center w-fit h-fit p-2"
          (click)="this.toggleCheckInModal(true)"
        >
          <div ngClass="flex flex-row gap-2">
            <span>Check In</span>
            <img
              [src]="dummyImages.camera"
              ngClass="object-contain w-[24px] h-[24px]"
            />
          </div>
        </button>
      </div>
    </div>

    <div ngClass="flex flex-1 flex-col w-full gap-4">
      <div
        ngClass="flex flex-1 items-center min-h-full w-full relative overflow-x-auto shadow-md sm:rounded-lg"
      >
        <table ngClass="w-full spacing text-sm text-left text-gray-500">
          <thead ngClass="text-gray-700 bg-gray-50 shadow-sm">
            <tr>
              <th *ngFor="let col of columns">
                <p [ngClass]="col.class">{{ col.columnLabel }}</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employeeList" ngClass="hover:bg-gray-50">
              <td *ngFor="let col of columns" [ngClass]="col.class">
                <div *ngIf="col.components === 'text'">{{ emp[col.id] }}</div>
                <div
                  *ngIf="col.components === 'textImage'"
                  ngClass="flex flex-row gap-3 items-center"
                >
                  <button type="button" (click)="this.onOpenDetail(emp.id)">
                    <img
                      [src]="emp.profile_images"
                      ngClass="hover:shadow-md sm:rounded-full object-contain w-[30px] h-[30px]"
                    />
                  </button>
                  <span>{{ emp[col.id] || "-" }}</span>
                </div>
                <div
                  *ngIf="col.components === 'image'"
                  ngClass="flex justify-center"
                >
                  <img [src]="emp[col.id]" width="45px" />
                </div>
              </td>
              <td *ngIf="!emp['check_out']">
                <button
                  type="button"
                  ngClass="shadow-md rounded-lg items-center w-fit h-fit p-2 font-semibold text-gray-200 hover:text-red-500 bg-red-500 hover:bg-gray-200"
                  (click)="this.onCheckOut(emp.id)"
                >
                  Out
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Backdrop Modal -->
  <div
    *ngIf="detailModal || checkInModal"
    ngClass="opacity-25 fixed inset-0 z-40 bg-black"
  ></div>

  <!-- Detail Modal -->
  <div
    *ngIf="detailModal"
    ngClass="fixed flex inset-0 z-50 outline-none focus:outline-none justify-center items-center w-fit max-w-[calc(100%-5rem)] h-auto max-h-[calc(100%-5rem)] m-auto"
  >
    <div ngClass="relative w-full h-full mx-auto">
      <!--content-->
      <div
        ngClass="relative flex flex-col w-full h-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none"
      >
        <!--header-->
        <div
          ngClass="relative flex flex-none items-start justify-between border-b border-solid border-slate-200 rounded-t p-3"
        >
          <h3 ngClass="text-3xl font-semibold">Employee's Details</h3>
          <button
            ngClass="flex p-1 bg-transparent"
            type="button"
            (click)="this.toggleDetailModal(false)"
          >
            <span
              ngClass="flex items-center justify-center text-black text-2xl font-semibold h-6 w-6"
              >x</span
            >
          </button>
        </div>
        <!--body-->
        <div
          ngClass="relative flex flex-1 overflow-y-auto overflow-x-hidden p-3 mb-3"
        >
          <div ngClass="flex flex-col gap-4">
            <div ngClass="flex flex-row justify-between">
              <div ngClass="flex flex-col flex-1 gap-2">
                <div ngClass="font-semibold">Full Name</div>
                <div>
                  <span>{{employeeDetails?.['employee_name']}}</span>
                </div>
              </div>
              <div ngClass="flex flex-col flex-1 gap-2">
                <div ngClass="font-semibold">Age</div>
                <div>
                  <span>{{employeeDetails?.['employee_age']}}</span>
                </div>
              </div>
            </div>
            <div ngClass="flex flex-row justify-between">
              <div ngClass="flex flex-col flex-1 gap-2">
                <div ngClass="font-semibold">Check In</div>
                <div>
                  <span>{{employeeDetails?.['check_in']}}</span>
                </div>
              </div>
              <div ngClass="flex flex-col flex-1 gap-2">
                <div ngClass="font-semibold">Check Out</div>
                <div>
                  <span>{{employeeDetails?.['check_out']}}</span>
                </div>
              </div>
            </div>
            <div ngClass="flex flex-col gap-2">
              <div ngClass="font-semibold">Salary</div>
              <div>
                <span>{{employeeDetails?.['employee_salary']}}</span>
              </div>
            </div>

            <div ngClass="flex flex-col gap-2">
              <div ngClass="font-semibold">Attendance</div>
              <div ngClass="flex w-[400px] h-[300px]">
                <img [src]="employeeDetails?.['att_images']" />
              </div>
            </div>
            <div ngClass="flex flex-col gap-2">
              <span ngClass="font-semibold">Location</span>
              <comp-gmaps
                [markerPositions]="employeeDetails!.location"
              ></comp-gmaps>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Check In Modal -->
  <div
    *ngIf="checkInModal"
    ngClass="fixed flex inset-0 z-50 outline-none focus:outline-none justify-center items-center w-fit max-w-[calc(100%-5rem)] h-auto max-h-[calc(100%-5rem)] m-auto"
  >
    <div ngClass="relative w-full h-full mx-auto">
      <!--content-->
      <div
        ngClass="relative flex flex-col w-full h-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none"
      >
        <!--header-->
        <div
          ngClass="relative flex flex-none items-start justify-between border-b border-solid border-slate-200 rounded-t p-3"
        >
          <h3 ngClass="text-3xl font-semibold">Check In</h3>
          <button
            ngClass="flex p-1 bg-transparent"
            type="button"
            (click)="this.toggleCheckInModal(false)"
          >
            <span
              ngClass="flex items-center justify-center text-black text-2xl font-semibold h-6 w-6"
              >x</span
            >
          </button>
        </div>
        <!--body-->
        <div
          ngClass="relative flex flex-1 overflow-y-auto overflow-x-hidden p-3"
        >
          <form [formGroup]="checkInForm" ngClass="flex flex-col gap-4">
            <div ngClass="flex flex-col gap-2">
              <label for="id" ngClass="font-semibold"> Full Name </label>
              <select id="id" ngClass="input-select" formControlName="id">
                <option *ngFor="let opt of employeeList" [value]="opt.id">
                  {{ opt.employee_name }}
                </option>
              </select>
            </div>
            <div ngClass="flex flex-col gap-2">
              <label for="shift" ngClass="font-semibold"> Shift </label>
              <select id="shift" ngClass="input-select" formControlName="shift">
                <option *ngFor="let opt of shiftList" [value]="opt.label">
                  {{ opt.label }}
                </option>
              </select>
            </div>
            <div ngClass="flex flex-col gap-2">
              <div ngClass="font-semibold">Take Photo</div>
              <div>
                <comp-webcam (getImage)="getImage($event)"></comp-webcam>
              </div>
            </div>
            <div ngClass="flex flex-col gap-2">
              <span ngClass="font-semibold">Choose Location</span>
              <comp-gmaps (getMarker)="getMarker($event)"></comp-gmaps>
            </div>
          </form>
        </div>
        <!--footer-->
        <div
          ngClass="relative flex flex-none items-center justify-end border-t border-solid border-slate-200 rounded-b p-3"
        >
          <button
            ngClass="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="this.toggleCheckInModal(false)"
          >
            Close
          </button>
          <button
            ngClass="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="this.onCheckIn()"
          >
            Check In
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
