<div ngClass="flex flex-col gap-2">
  <div>
    <form
      [formGroup]="toForm"
      (submit)="onSubmitTO()"
      ngClass="flex flex-col gap-4 w-full"
    >
      <div ngClass="flex flex-col gap-2 w-full">
        <label>Duplicate Numbers</label>
        <input
          ngClass="input-text"
          type="text"
          id="duplicateNumbers"
          formControlName="duplicateNumbers"
          placeholder="Example : 1,2,3,4,1,1"
        />
      </div>
      <button class="btn-primary" type="submit">Get Duplicate</button>
    </form>
  </div>
  <div>
    <span>Result :</span>
    <div>Duplicate Numbers : {{ toValue.duplicateNumbers }}</div>
    <div>Output : {{ toValue.result }}</div>
  </div>
</div>
