<!-- navbar.component.html -->

<nav ngClass="w-full bg-white dark:bg-gray-800 border-b dark:border-gray-700">
  <div ngClass="flex flex-wrap items-center justify-between py-4 px-10">
    <button
      type="button"
      ngClass="flex items-center gap-3 dark:text-white"
      (click)="this.handleRoute('')"
    >
      <img ngClass="h-8" [src]="logo.img" alt="Angular Logo" />
      <span ngClass="self-center text-2xl font-semibold whitespace-nowrap">{{
        logo.title
      }}</span>
    </button>
    <div ngClass="flex flex-row gap-3 items-center md:order-2 dark:text-white">
      <span ngClass="self-center text-sm font-semibold whitespace-nowrap">{{
        userLogin.username
      }}</span>
      <button
        type="button"
        ngClass="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 hover:ring-2 hover:ring-gray-300"
      >
        <img
          ngClass="w-8 h-8 rounded-full"
          [src]="userLogin.userProfile"
          [alt]="userLogin.username"
        />
      </button>
    </div>
  </div>
</nav>
