<!-- webcam.component.html -->

<div ngClass="flex flex-col gap-2 items-center">
  <div ngClass="flex w-[400px] h-[300px]">
    <webcam
      *ngIf="!currentImage; else imageExist"
      [height]="view.height"
      [width]="view.width"
      [allowCameraSwitch]="allowCameraSwitch"
      [trigger]="triggerObservable"
      [switchCamera]="nextWebcamObservable"
      (imageCapture)="this.onHandleImage($event)"
      (initError)="this.onErrorWebcam($event)"
      (cameraSwitched)="this.cameraWasSwitched($event)"
    ></webcam>
    <div
      *ngIf="!isCameraExist && !currentImage"
      ngClass="flex items-center justify-center text-center bg-gray-200 text-gray-500"
    >
      Camera Device not Available
    </div>
  </div>
  <div ngClass="flex flex-row gap-2 w-full justify-end">
    <button type="button" ngClass="btn-secondary" (click)="this.onResetImage()">
      Reset
    </button>
    <button type="button" ngClass="btn-primary" (click)="this.onCaptureImage()">
      Take Photo
    </button>
  </div>
</div>

<ng-template #imageExist
  ><img [src]="currentImage?.imageAsDataUrl"
/></ng-template>
