<div ngClass="flex flex-col gap-2">
  <div>
    <form
      [formGroup]="ttForm"
      (submit)="onSubmitTT()"
      ngClass="flex flex-col gap-4 w-full"
    >
      <div ngClass="flex flex-col gap-2 w-full">
        <label>Loop Text</label>
        <input
          ngClass="input-text"
          type="text"
          id="loopText"
          formControlName="loopText"
        />
      </div>
      <div ngClass="flex flex-col gap-2 w-full">
        <label>Loop Number</label>
        <input
          ngClass="input-text"
          type="number"
          id="loopNumber"
          formControlName="loopNumber"
        />
      </div>
      <button class="btn-primary" type="submit">Get Loop</button>
    </form>
  </div>
  <div>
    <span>Result :</span>
    <div>Loop Text : {{ ttValue.loopText }}</div>
    <div>Loop Number : {{ ttValue.loopNumber }}</div>

    <div>Output :</div>
    <div *ngFor="let res of [].constructor(ttValue.loopNumber); let i = index">
      {{ ttValue.loopText + getNumberText(i + 1) }}
    </div>
  </div>
</div>
