<!-- gmaps.component.html -->

<div *ngIf="gMapsLoaded | async">
  <google-map
    [height]="view.height"
    [width]="view.width"
    [options]="gMapsOption"
    (mapClick)="onMoveMarker($event)"
  >
    <map-marker
      [options]="markerOptions"
      [position]="markerPositions"
    ></map-marker>
  </google-map>
</div>
