<div ngClass="flex flex-col gap-2">
  <div>
    <form
      [formGroup]="tfForm"
      (submit)="onSubmitTF()"
      ngClass="flex flex-col gap-4 w-full"
    >
      <div ngClass="flex flex-col gap-2 w-full">
        <label>Input Text</label>
        <input
          ngClass="input-text"
          type="text"
          id="reverseText"
          formControlName="reverseText"
        />
      </div>
      <button class="btn-primary" type="submit">Get Reverse</button>
    </form>
  </div>
  <div>
    <span>Result :</span>
    <div>Input Text : {{ tfValue.inputText }}</div>
    <div>Reversed Text : {{ tfValue.reverseText }}</div>
  </div>
</div>
