<!-- product.component.html -->

<div ngClass="flex flex-auto">
  <div ngClass="flex flex-auto flex-col gap-6">
    <div ngClass="flex flex-row justify-between">
      <div ngClass="flex flex-1"></div>
      <div ngClass="flex flex-col flex-1 gap-1">
        <div ngClass="text-2xl font-bold text-center">Products List</div>
        <div ngClass="text-md font-semibold text-center text-gray-400">
          {{ currentDate }}
        </div>
      </div>
      <div ngClass="flex flex-row flex-1 gap-2 justify-end items-center">
        <button
          type="button"
          ngClass="shadow-md rounded-lg hover:bg-gray-200 items-center w-fit h-fit p-2"
          (click)="this.toggleScanModal(true)"
        >
          <div ngClass="flex flex-row gap-2">
            <span>Orders</span>
            <img
              [src]="dummyImages.scanner"
              ngClass="object-contain w-[24px] h-[24px]"
            />
          </div>
        </button>
      </div>
    </div>

    <div ngClass="flex flex-1 flex-col w-full  gap-4">
      <div
        ngClass="flex flex-1 items-center min-h-full w-full relative overflow-x-auto shadow-md sm:rounded-lg"
      >
        <table ngClass="w-full spacing text-sm text-left text-gray-500">
          <thead ngClass="text-gray-700 bg-gray-50 shadow-sm">
            <tr>
              <th *ngFor="let col of columns">
                <p [ngClass]="col.class">{{ col.columnLabel }}</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prd of productList" ngClass="hover:bg-gray-50">
              <td *ngFor="let col of columns" [ngClass]="col.class">
                <div *ngIf="col.components === 'text'">{{ prd[col.id] }}</div>
                <div
                  *ngIf="col.components === 'textImage'"
                  ngClass="flex flex-row gap-3 items-center"
                >
                  <button type="button">
                    <img
                      [src]="prd.product_images"
                      ngClass="hover:shadow-md sm:rounded-full object-contain w-[30px] h-[30px]"
                    />
                  </button>
                  <span>{{ prd[col.id] || "-" }}</span>
                </div>
                <div
                  *ngIf="col.components === 'image'"
                  ngClass="flex justify-center"
                >
                  <img
                    [src]="prd[col.id]"
                    ngClass="object-contain w-[45px] h-[45px]"
                  />
                </div>
                <div *ngIf="col.components === 'currency'">
                  {{ this.convertCurrency(prd[col.id]) }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Backdrop Modal -->
  <div
    *ngIf="scanModal || orderDetailModal"
    ngClass="opacity-25 fixed inset-0 z-40 bg-black"
  ></div>

  <!-- Scan Modal -->
  <div
    *ngIf="scanModal"
    ngClass="fixed flex inset-0 z-50 outline-none focus:outline-none justify-center items-center w-fit max-w-[calc(100%-5rem)] h-fit max-h-[calc(100%-5rem)] m-auto"
  >
    <div ngClass="relative w-full h-full mx-auto">
      <!--content-->
      <div
        ngClass="relative flex flex-col w-full h-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none"
      >
        <!--header-->
        <div
          ngClass="relative flex flex-none items-start justify-between border-b border-solid border-slate-200 rounded-t p-3"
        >
          <h3 ngClass="text-3xl font-semibold">Scan Product</h3>
          <button
            ngClass="flex p-1 bg-transparent"
            type="button"
            (click)="this.toggleScanModal(false)"
          >
            <span
              ngClass="flex items-center justify-center text-black text-2xl font-semibold h-6 w-6"
              >x</span
            >
          </button>
        </div>
        <!--body-->
        <div
          ngClass="relative flex flex-1 overflow-y-auto overflow-x-hidden p-3"
        >
          <div ngClass="flex flex-col gap-4">
            <div ngClass="flex flex-row justify-between">
              <div ngClass="flex flex-col flex-1 gap-2">
                <div ngClass="w-[640px] h-[360px]">
                  <comp-scanner
                    (getScanner)="this.getScanner($event)"
                  ></comp-scanner>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Order Detail Modal -->
  <div
    *ngIf="orderDetailModal"
    ngClass="fixed flex inset-0 z-50 outline-none focus:outline-none justify-center items-center w-fit max-w-[calc(100%-5rem)] h-fit max-h-[calc(100%-5rem)] m-auto"
  >
    <div ngClass="relative w-full h-full mx-auto">
      <!--content-->
      <div
        ngClass="relative flex flex-col w-full h-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none"
      >
        <!--header-->
        <div
          ngClass="relative flex flex-none items-start justify-between border-b border-solid border-slate-200 rounded-t p-3"
        >
          <h3 ngClass="text-3xl font-semibold">Order Details</h3>
          <button
            ngClass="flex p-1 bg-transparent"
            type="button"
            (click)="this.toggleOrderDetailModal(false)"
          >
            <span
              ngClass="flex items-center justify-center text-black text-2xl font-semibold h-6 w-6"
              >x</span
            >
          </button>
        </div>
        <!--body-->
        <div
          ngClass="relative flex flex-1 overflow-y-auto overflow-x-hidden p-3"
        >
          <form [formGroup]="orderForm" ngClass="flex flex-row justify-between">
            <div ngClass="flex flex-col justify-around px-6">
              <div ngClass="flex items-center justify-center">
                <img
                  [src]="currentOrder.productDetails?.['product_images']"
                  ngClass="w-[250px] h-[250px] object-contain"
                />
              </div>
              <div ngClass="flex flex-col gap-2">
                <div ngClass="text-lg text-center font-semibold">
                  {{ currentOrder.productDetails?.product_name }}
                </div>
                <div ngClass="text-lg text-center text-gray-400 font-medium">
                  {{ this.convertCurrency(currentOrder.productDetails?.price) }}
                </div>
              </div>
            </div>
            <div ngClass="flex flex-col gap-4">
              <div ngClass="flex flex-col gap-2">
                <div ngClass="text-lg font-semibold">
                  {{ currentOrder.productDetails?.product_name }}
                </div>
                <div ngClass="text-gray-400 line-clamp-6 max-w-[400px]">
                  {{ currentOrder.productDetails?.product_desc }}
                </div>
              </div>
              <div ngClass="flex flex-col gap-2">
                <label for="qty" ngClass="font-semibold"> Quantity </label>
                <input
                  id="qty"
                  ngClass="input-select"
                  formControlName="qty"
                  type="number"
                />
              </div>
              <div ngClass="flex flex-col gap-2">
                <div ngClass="font-semibold">Total</div>
                <div>
                  {{ this.getTotalOrder() }}
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--footer-->
        <div
          ngClass="relative flex flex-none items-center justify-end border-t border-solid border-slate-200 rounded-b p-3"
        >
          <button
            ngClass="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="this.toggleOrderDetailModal(false)"
          >
            Cancel
          </button>
          <button
            ngClass="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="this.onPurchaseProduct()"
          >
            Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
