<div ngClass="flex flex-col w-full h-full">
  <div ngClass="flex flex-initial flex-col"><comp-navbar></comp-navbar></div>
  <div ngClass="flex flex-auto flex-row h-0">
    <comp-sidebar></comp-sidebar>
    <div ngClass="block w-full overflow-y-auto py-4 px-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
