<!-- sidebar.component.ts -->

<aside
  id="logo-sidebar"
  class="w-64 h-full transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full py-4 px-8 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="flex flex-col gap-3 font-medium">
      <li *ngFor="let menu of sidebarMenu">
        <button
          type="button"
          class="flex gap-3 py-3 px-2 w-full items-center text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
          (click)="this.handleRoute(menu)"
        >
          <svg
            ngClass="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          >
            <use
              [attr.href]="menu.icon + '#img'"
              [attr.xlink:href]="menu.icon + '#img'"
            ></use>
          </svg>
          <span class="flex-1 whitespace-nowrap text-start">{{
            menu.title
          }}</span>
        </button>
      </li>
    </ul>
  </div>
</aside>
