<div ngClass="flex flex-1 w-full">
  <div>
    <img [src]="employee.profile_image" />
  </div>
  <div>{{ employee.employee_name }}</div>
  <div>
    <div>
      <div>Age :</div>
      <div>{{ employee.employee_age }}</div>
    </div>
    <div>
      <div>Salary :</div>
      <div>{{ employee.employee_salary }}</div>
    </div>
  </div>
</div>
