<div ngClass="flex flex-auto">
  <div ngClass="flex flex-auto flex-col gap-6">
    <div ngClass="flex flex-row justify-center items-center">
      <div ngClass="flex flex-col flex-1 gap-1">
        <div ngClass="text-2xl font-bold text-center">Trial</div>
        <div ngClass="text-md font-semibold text-center text-gray-400">
          {{ currentDate }}
        </div>
      </div>
    </div>
    <div ngClass="flex flex-auto flex-row justify-between">
      <div ngClass="flex flex-col gap-2">
        <span ngClass="text-lg font-semibold">Soal 1</span>
        <trial-number-one></trial-number-one>
      </div>
      <div ngClass="flex flex-col gap-2">
        <span ngClass="text-lg font-semibold">Soal 2</span>
        <trial-number-two></trial-number-two>
      </div>
      <div ngClass="flex flex-col gap-2">
        <span ngClass="text-lg font-semibold">Soal 3</span>
        <trial-number-three></trial-number-three>
      </div>
      <div ngClass="flex flex-col gap-2">
        <span ngClass="text-lg font-semibold">Soal 4</span>
        <trial-number-four></trial-number-four>
      </div>
    </div>
  </div>
</div>
