<!-- customer-service.component.html -->

<div
  ngClass="flex flex-auto flex-col h-full items-center w-full max-w-[60%] bg-gray-800 border-2 border-gray-700 rounded-lg shadow-md mx-auto"
>
  <div
    ngClass="flex flex-initial flex-row w-full justify-start items-center gap-3 border-b border-gray-200 p-4"
  >
    <div ngClass="flex">
      <img
        [src]="dummyImages.woman"
        ngClass="hover:shadow-md sm:rounded-full object-contain w-[50px] h-[50px]"
      />
    </div>
    <div ngClass="flex flex-col gap-1">
      <div ngClass="text-xl font-bold text-white">Customer Service</div>
      <div ngClass="flex flex-row gap-1 items-center">
        <span ngClass="flex w-3 h-3 bg-green-500 rounded-full"></span>
        <span ngClass="text-md font-semibold text-gray-200">Online</span>
      </div>
    </div>
  </div>
  <div ngClass="flex flex-1 flex-col h-0 w-full box-content bg-white">
    <div
      #chatScroll
      ngClass="flex flex-col h-full overflow-y-auto overflow-x-hidden gap-2 p-4"
    >
      <div ngClass="flex flex-col" *ngFor="let chat of chatResponse">
        <div
          *ngIf="chat.role === 'user'"
          ngClass="flex flex-col w-fit max-w-[80%] self-end"
        >
          <div ngClass="text-xs bg-gray-200 p-2 rounded-lg">
            <pre ngClass="whitespace-pre-wrap">{{ chat.content }}</pre>
          </div>
        </div>

        <div
          *ngIf="chat.role !== 'user'"
          ngClass="flex flex-row w-fit max-w-[80%] gap-1"
        >
          <img
            [src]="dummyImages.woman"
            ngClass="hover:shadow-md sm:rounded-full object-contain w-[24px] h-[24px]"
          />
          <div ngClass="flex flex-col">
            <div ngClass="text-sm font-semibold capitalize px-2">
              {{ chat.role }}
            </div>
            <div ngClass="text-xs bg-gray-200 p-2 rounded-lg">
              <pre ngClass="whitespace-pre-wrap">{{ chat.content }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ngClass="flex flex-initial w-full border-t border-gray-200 p-4">
    <form
      ngClass="flex flex-row gap-3 w-full items-end"
      [formGroup]="chatForm"
      (submit)="this.onSendMessage()"
    >
      <div ngClass="flex flex-auto w-full">
        <textarea
          formControlName="content"
          id="content"
          rows="1"
          class="flex flex-auto w-full py-1 px-2 text-sm text-gray-900 bg-white rounded-lg border border-gray-300 placeholder-gray-400"
          placeholder="Message"
        ></textarea>
      </div>
      <div ngClass="flex flex-initial h-fit">
        <button type="submit" ngClass="btn-primary">
          <svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.3009 13.6949L20.102 3.89742M10.5795 14.1355L12.8019 18.5804C13.339 19.6545 13.6075 20.1916 13.9458 20.3356C14.2394 20.4606 14.575 20.4379 14.8492 20.2747C15.1651 20.0866 15.3591 19.5183 15.7472 18.3818L19.9463 6.08434C20.2845 5.09409 20.4535 4.59896 20.3378 4.27142C20.2371 3.98648 20.013 3.76234 19.7281 3.66167C19.4005 3.54595 18.9054 3.71502 17.9151 4.05315L5.61763 8.2523C4.48114 8.64037 3.91289 8.83441 3.72478 9.15032C3.56153 9.42447 3.53891 9.76007 3.66389 10.0536C3.80791 10.3919 4.34498 10.6605 5.41912 11.1975L9.86397 13.42C10.041 13.5085 10.1295 13.5527 10.2061 13.6118C10.2742 13.6643 10.3352 13.7253 10.3876 13.7933C10.4468 13.87 10.491 13.9585 10.5795 14.1355Z"
              stroke="#ffffff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
