/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.btn {
  @apply py-1 px-2 rounded w-fit;
}

.btn-primary {
  @apply btn bg-blue-500 text-white hover:bg-blue-700;
}

.btn-secondary {
  @apply btn bg-white text-gray-500 hover:bg-gray-500 hover:text-white;
}

.btn-danger {
  @apply btn bg-red-500 text-white hover:bg-red-700;
}

.input-text {
  @apply border border-solid border-gray-950 rounded-md p-1 max-w-xs;
}

.input-select {
  @apply border border-solid border-gray-950 rounded-md p-1 px-2 max-w-xs;
}
